.App {
  /* background-color: black; */
  background-image:url("./Asset/snazzy-image (50).png") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: Product Sans;
  /* mix-blend-mode: luminosity; */
}

.Auth-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.Auth-form{
  width: 400px;
  height: 500px;
  box-shadow: rgb(0, 0, 0 /16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius:8px ;
  background-color:#010412;
}
.Auth-form-content{
  padding-left: 12%;
  padding-right: 12%;

}

.Auth-form-title{
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color:rgb(34,34,34);
  font-weight:800;
}
label{
  font-size: 14px;
  font-weight: 600;
  color: rgb(3,34,34);
  text-shadow: 12ex;
}
.logo{
  display: flex;
  justify-content: center;
}
.float-right{
  text-align: right;
}

input.transparent-input{
  background-color:rgba(0,0,0,0) !important;
  border:none;
}
.Auth-form-container input{
  border-bottom: 1px solid #fff !important;
  border-radius: 0;
}
.Auth-form-container input:focus{
  box-shadow: none;
}

.user-input-wrp {
	position: relative;
	width: 50%;
}
.user-input-wrp .inputText{
	width: 100%;
	outline: none;
	border:none;
	border-bottom: 1px solid #777;
 	box-shadow: none !important;
}
.user-input-wrp .inputText:focus{
	border-color: blue;
	border-width: medium medium 2px;
}
.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
	top: 18px;
	left: 10px;
	transition: 0.2s ease all;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label{
	top: 0px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}